.search-results {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.search-map-tab {
  background-color: #e3e3e3;
  flex-basis: 70%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  position: sticky;
}

.search-results-tab {
  background-color: #f0f0f0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  flex-basis: 30%;
  height: 100vh;
}

.search-map-tab img {
  height: 100vh;
}
